.dashboardContainer{
    position: absolute;
    top:13%;
    left: 1px;
    right: 1px;
    bottom:1px;
    
}
.topBoard{
   height: 320px;
   width: 100%;
   display: flex;
   gap: 2em;
   
   }
.buttonCards{
   background: blue;
   height: 320px;

}
.pendingClaims{
    height: 320px;
    background: #23262D;
    width: 100%;
    flex:1;
    border-radius: 30px;
    margin-right: 2em;
    

}
.overview{
    width: 100%;
    background:#CFC6B5;
    border-radius: 30px;
    flex:2;
}
