.navContainer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;

    z-index:3;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 8vh;
    max-width: 100%;
  
  }
  .activeLink{
    color:goldenrod;
    font-weight: bold;
  }
  .mainNav{
    width: 32vw;
    display: flex;
    justify-content: space-between;
    
  
  }
  .white1{
    color: #000000;
    text-decoration: none;
  }
  .white{
    color: #000000;
  }
  .chowRate{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  .chowRate div{
   color: #000000;
   font-size: 20px;
   
  }
  .chowRate img{
    width: 100px;
  
    
  }
  .restaurantList button{
    background: none;
    border:none;
    color: white;
    cursor:pointer;
    
  }
  .logout{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  @media(max-width: 768px)
  {
    .navContainer{
      display: none;
    }
  }