.navContainer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index:3;
    top:0;
    left:10%;;
    right:0;
    bottom: 0;
    max-height: 12vh;
    max-width: 100%;
  
  
  
  }
  .activeLink{
    color:goldenrod;
    font-weight: bold;
  }
  .mainNav{
    width: 32vw;
    display: flex;
    justify-content: space-between;
    
  
  }
  .white1{
    color: #000000;
    text-decoration: none;
  }
  .white{
    color: #000000;
  }
  .chowRate{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    text-decoration: none;

    
    width: 35%;
    
  }
  .amanda{
    
    margin-left: -30%;
  }
  .amandaH3{
    text-align: left;
  }
  
  .amandaSmall{

    font-size: 15px;
    font-weight: 500;
    color:#00000080;
  }
  
  .chowRate div{
   color: #000000;
   font-size: 20px;

   
  }
  .chowRate img{
    width: 100px;
  
    
  }
  .rightLinks{
    
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;

  }
  .rightLinks input{
    
    width: 50%;
    height: 40px;
    font-size: 12px;
    padding-left: 8px;
    border:none;
    border-radius: 120px;
    outline: none;
     background-image: url('/src/images/searchIcon.png'); 
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px; 
  background-size: 16px 16px;

  
    
  }
  .rightLinks button{
    border-radius: 120px;
    border:none;
    background: #23262D;
    color: #FFFFFF;
    width: 20%;
    cursor: pointer;

  }
  .seekIcon{
    width: 60px;
    margin-top: 5px;
  }
  .seekIcon img{
    width: 100%;
  }
  
  

  @media(max-width: 768px)
  {
    .navContainer{
      display: none;
    }
  }