.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full screen */
}

.spinner {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-top-color: #23262D;
  animation: spin 0.8s linear infinite;
}

/* Sizes */
.small {
  width: 20px;
  height: 20px;
  border-width: 3px;
}

.medium {
  width: 35px;
  height: 35px;
  border-width: 4px;
}

.large {
  width: 60px;
  height: 60px;
  border-width: 6px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
