body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F2ED;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;        /* VERY tiny width */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #e6e2dc;   /* soft beige track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b6a999;   /* warm subtle brown */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e8174;   /* slightly darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b6a999 #e6e2dc;
}